.header {
  background: #43191F;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 19px; }

.header__logotip {
  margin-right: 56px; }

.header__information {
  display: flex;
  align-items: center; }

.info__list {
  display: flex;
  list-style: none; }
  .info__list-item {
    margin-right: 28px; }
  .info__list-link {
    text-decoration: none;
    color: #F9F6F2; }

.authorizations {
  margin-right: 41px; }
  .authorizations__link {
    margin-right: 22px; }

.header__call {
  display: flex; }
  .header__call-button {
    margin-right: 10px; }

.changing__language {
  display: grid; }

.navigation__list {
  display: flex; }
  .navigation__list-item {
    display: flex;
    margin-right: 46px; }
  .navigation__list-title {
    margin-right: 36px; }

.helion {
  background-image: url("..//../img/topslide1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%; }

.helion__capital-wrap {
  position: absolute;
  left: 300px;
  bottom: 300px; }
  .helion__capital-wrap .helion__title {
    font-size: 64px;
    line-height: 78px;
    color: #f9f6f2;
    max-width: 446px;
    margin-bottom: 11px; }
  .helion__capital-wrap .helion__text {
    max-width: 500px;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff; }

.catigori__finances-list {
  position: absolute;
  display: flex;
  border: 2px solid red;
  max-width: 1024px;
  width: 100%;
  bottom: 70px;
  background-color: white;
  padding: 40px 36px; }
  .catigori__finances-list .catigori__finances-item {
    display: flex;
    align-items: center; }
  .catigori__finances-list .catigori__finances-img {
    margin-right: 30px; }

body {
  margin: 0px; }

p {
  margin: 0px; }

ul {
  padding: 0px; }

h1, h2, h3, h4, h5 {
  margin: 0px; }

* {
  box-sizing: border-box; }
