.dividends__analytics {
  background: #f9f6f2;
  padding-top: 150px;
  padding-bottom: 50px;
}

.dividends__container {
  max-width: 970px;
  margin: 0px auto;

  .dividends__title {
    margin-bottom: 34px;
    font-size: 36px;
    line-height: 53px;
    color: #43191f;
  }
  .dividends__analytics-wrap {
    display: flex;
    .dividends__list {
      list-style: none;
      margin-right: 22px;

      &-title {
        font-size: 24px;
        line-height: 35px;
        color: #d09e70;
        margin-bottom: 46px;
      }
      &-item {
        display: flex;
        margin-bottom: 53px;
        align-items: center;
      }
      &-img {
        margin-right: 17px;
      }
      &-text {
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        font-weight: bold;
      }
    }
    .analytics__list {
      list-style: none;
      &-title {
        font-size: 24px;
        line-height: 35px;
        color: #d09e70;
        margin-bottom: 46px;
      }
      &-item {
        display: flex;
        margin-bottom: 53px;
      }
      &-img {
        margin-right: 17px;
      }
      &-text {
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        font-weight: bold;
      }
    }
  }
  .special__offer-wrap {
    .special__offer-title {
      font-size: 36px;
      line-height: 51px;
      color: #43191f;
      margin-bottom: 48px;
    }
    .offer__list {
      list-style: none;
      display: flex;
      
      .offer__list-item:first-child {
        padding: 30px 30px 23px 31px;
    }
    .offer__list-item:nth-child(2) {
        border: 5px solid #E0E0E0;
        padding: 25px 40px 23px 30px;
    }
    .offer__list-item:nth-child(3) {
        border: 5px solid #E0E0E0;
        padding: 25px 40px 23px 30px;
    }
      &-item {
        margin-right: 30px;
        border: 10px solid #cb9c71;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
        max-width: 320px;
        width: 100%;
        background: #FFFFFF;
      }
      &-title {
        font-size: 24px;
        line-height: 35px;
        color: #632831;
        margin-bottom: 16px;
      }
      &-text {
        max-width: 250px;
        font-size: 14px;
        line-height: 14.4px;
        margin-bottom: 10px;
      }
      &-subtext {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-score {
        font-size: 18px;
        line-height: 25px;
        color: #cb9c71;
      }
      &-link {
        text-decoration: none;
        font-size: 12px;
        text-decoration-line: underline;
        color: #632831;
        line-height: 17px;
      }
    }
  }
}
  