.dividends__analytics {
  background: #f9f6f2;
  padding-top: 150px;
  padding-bottom: 50px;
}

.dividends__container {
  max-width: 970px;
  margin: 0px auto;
  position: relative;

  .dividends__title {
    margin-bottom: 34px;
    font-size: 36px;
    line-height: 53px;
    color: #43191f;
    font-family: Milio;
  }
  .dividends__title::before {
    content: "";
    position: absolute;
    width: 570px;
    height: 2px;
    right: -40px;
    top: 28px;
    background-color: gainsboro;
  }
  .dividends__analytics-wrap {
    display: flex;
    .dividends__list {
      list-style: none;
      margin-right: 22px;

      &-title {
        font-size: 24px;
        line-height: 35px;
        color: #d09e70;
        margin-bottom: 46px;
        font-family: Milio;
      }
      &-item {
        display: flex;
        margin-bottom: 53px;
        align-items: center;
      }
      &-img {
        margin-right: 17px;
      }
      &-text {
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        font-family: Helvetica, sans-serif;
      }
    }
    .analytics__list {
      list-style: none;
      &-title {
        font-size: 24px;
        line-height: 35px;
        color: #d09e70;
        margin-bottom: 46px;
        font-family: Milio;
      }
      &-item {
        display: flex;
        margin-bottom: 53px;
      }
      &-img {
        margin-right: 17px;
      }
      &-text {
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
  .special__offer-contianer {
    .special_offer-wrap {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      position: relative;

      .special__offer-title::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 380px;
        right: 110px;
        top: 35px;
        background-color: #dab490;
      }
      .special__offer-title {
        font-size: 36px;
        line-height: 51px;
        color: #43191f;
        font-family: Milio;
        margin-bottom: 48px;
      }
      .special__offer-link {
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.05em;
        font-family: Arial, Helvetica, sans-serif;
        color: #43191f;
        text-decoration: none;
      }
    }
    .offer__list {
      list-style: none;
      display: flex;

      .offer__list-item:first-child {
        padding: 30px 30px 23px 31px;
      }
      .offer__list-item:nth-child(2) {
        border: 5px solid #e0e0e0;
        padding: 25px 40px 23px 30px;
      }
      .offer__list-item:nth-child(3) {
        border: 5px solid #e0e0e0;
        padding: 25px 40px 23px 30px;
        margin: 0px;
      }
      &-item {
        margin-right: 30px;
        border: 10px solid #cb9c71;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
        max-width: 320px;
        width: 100%;
        background: #ffffff;
      }
      &-title {
        font-size: 24px;
        line-height: 35px;
        color: #632831;
        margin-bottom: 16px;
        font-family: Milio;
      }
      &-text {
        max-width: 250px;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        color: #686868;
      }
      &-subtext {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-score {
        font-size: 18px;
        line-height: 25px;
        color: #cb9c71;
        font-family: Milio;
      }
      &-link {
        text-decoration: none;
        font-size: 12px;
        text-decoration-line: underline;
        color: #632831;
        line-height: 17px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}

@media screen and (max-width: 1130px) {
  .dividends__container {
    max-width: 970px;
    margin: 0px auto;
    position: relative;

    .dividends__title {
      margin-bottom: 34px;
      font-size: 36px;
      line-height: 53px;
      color: #43191f;
      font-family: Milio;
    }
    .dividends__title::before {
      content: "";
      position: absolute;
      width: 370px;
      height: 2px;
      right: 140px;
      top: 28px;
      background-color: gainsboro;
    }
  }
}

@media screen and (max-width: 1024px) {
  .dividends__container {
    max-width: 970px;
    margin: 0px auto;
    position: relative;

    .dividends__title {
      text-align: center;
      margin-bottom: 34px;
      font-size: 36px;
      line-height: 53px;
      color: #43191f;
      font-family: Milio;
    }
    .dividends__title::before {
      content: "";
      position: absolute;
      width: 370px;
      height: 2px;
      right: 140px;
      top: 60px;
      background-color: #f9f6f2;
    }

    .dividends__analytics-wrap {
      padding: 0px 15px;
    }
    .special__offer-contianer {
      .special_offer-wrap {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        position: relative;
        padding: 0px 10px;

        .special__offer-title::before {
          content: "";
          position: absolute;
          height: 2px;
          width: 380px;
          right: 110px;
          top: 60px;
          background-color: #f9f6f2;
        }
        .special__offer-title {
          font-size: 36px;
          line-height: 51px;
          color: #43191f;
          font-family: Milio;
          margin-bottom: 48px;
        }
        .special__offer-link {
          font-size: 14px;
          line-height: 14px;
          letter-spacing: 0.05em;
          font-family: Arial, Helvetica, sans-serif;
          color: #43191f;
          text-decoration: none;
        }
      }
      .offer__list {
        list-style: none;
        display: flex;
        padding: 0px 10px;

        .offer__list-item:first-child {
          padding: 30px 30px 23px 31px;
        }
        .offer__list-item:nth-child(2) {
          border: 5px solid #e0e0e0;
          padding: 25px 40px 23px 30px;
        }
        .offer__list-item:nth-child(3) {
          border: 5px solid #e0e0e0;
          padding: 25px 40px 23px 30px;
          margin: 0px;
        }
        &-item {
          margin-right: 30px;
          border: 10px solid #cb9c71;
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
          max-width: 320px;
          width: 100%;
          background: #ffffff;
        }
        &-title {
          font-size: 24px;
          line-height: 35px;
          color: #632831;
          margin-bottom: 16px;
          font-family: Milio;
        }
        &-text {
          max-width: 250px;
          font-size: 12px;
          line-height: 14px;
          margin-bottom: 10px;
          font-family: Arial, Helvetica, sans-serif;
          color: #686868;
        }
        &-subtext {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        &-score {
          font-size: 18px;
          line-height: 25px;
          color: #cb9c71;
          font-family: Milio;
        }
        &-link {
          text-decoration: none;
          font-size: 12px;
          text-decoration-line: underline;
          color: #632831;
          line-height: 17px;
          font-family: Arial, Helvetica, sans-serif;
        }
      }
    }
  }
}
