
.company__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 85px 0px 50px 0px;

    &-item {
        margin-right: 19px;

        &:last-child {
            margin-right: 0px;
        }
    }
    .company__item-img {
        width: 100%;
    }
    
}

@media screen and (max-width: 1023px) {
.training__title-wrap {
    padding: 0px 10px;
}
}