.helion {
  background-image: url("..//../img/topslide1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  position: relative;
}
.helion__capital-wrap {
  position: absolute;
  left: 450px;
  bottom: 200px;

  .helion__title {
    font-size: 64px;
    line-height: 78px;
    color: #f9f6f2;
    max-width: 446px;
    margin-bottom: 11px;
  }
  .helion__text {
    max-width: 500px;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
}

.catigori__finances-list {
  position: absolute;
  display: flex;
  border: 2px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  max-width: 1024px;
  width: 100%;
  left: 450px;
  bottom: -100px;
  background-color: white;
  padding: 40px 13px 40px 36px;

  .catigori__finances-item {
    display: flex;
    align-items: center;
  }
  .catigori__finances-img {
    margin-right: 30px;
  }
  .catigori__finances-title {
    max-width: 150px;
  }
  .title {
    max-width: 110px;
  }
  .title-two {
    text-decoration-line: underline;
    max-width: 110px;
  }
}
