include ../components/head.pug

body
  header.header
    .header__logotip
      img.logotip__img(src="./img/GroupLogotip.svg")
    .header__info-wrap
      .header__information
        ul.info__list
          li.info__list-item
            a.info__list-link(href="./about.html") Web-терминал
          li.info__list-item
            a.info__list-link(href="") Контакты
          li.info__list-item.item
            a.info__list-link(href="") FAQ
        .authorizations
          a.authorizations__link(href="") Регистрация
          a.authorizations__link.enter(href="") Войти
        .header__call
          button.header__call-button Перезвоните мне
          .changing__language
            button.changing__language-button.ru RU
            button.changing__language-button.en EN
      ul.navigation__list
        li.navigation__list-item
          h3.navigation__list-title О компании
          button.navigation__list-button
            img.navigation__list-icon(src="./img/VectorButton.svg")
        li.navigation__list-item
          h3.navigation__list-title Торговля
          button.navigation__list-button
            img.navigation__list-icon(src="./img/VectorButton2.svg")
        li.navigation__list-item
          h3.navigation__list-title Аналитика
          button.navigation__list-button
            img.navigation__list-icon(src="./img/VectorButton2.svg")
        li.navigation__list-item
          h3.navigation__list-title Бонусы
          button.navigation__list-button
            img.navigation__list-icon(src="./img/VectorButton2.svg")
        li.navigation__list-item
          h3.navigation__list-title Партнерство
  section.company
    .company__title-wrap
      h1.company__title О компании 
      p.company__text 
      |Одно из главных преимуществ инвестиционного брокера
      |"Helion Capital" - гарантированная выплата дивидендов. 
    ul.company__list  
      li.company__list-item 
        .company__icon-wrap 
          a.company__link(href="")
            img.company__link-icon(src="./img/GroupItems.svg")
            p.company__link-text Защита
              |средств
      li.company__list-item 
        .company__icon-wrap
          a.company__link(href="")
            img.company__link-icon(src="./img/laptopLaunchItems.svg")
            p.company__link-text Быстрый
              |старт
      li.company__list-item
        .company__icon-wrap 
          a.company__link(href="")
            img.company__link-icon(src="./img/imacclickIyems.svg")
            p.company__link-text Аналитика
              |рынка 
      li.company__list-item
        .company__icon-wrap 
          a.company__link(href="")
            img.company__link-icon(src="./img/$$Price.svg")
            p.company__link-text Различные Бонусы 
  section.about__company
    .about__company-title-wrap 
      h2.about__company-title О компании
    .about__company-description 
      p.about__company-text “Helion Capital” - это инвестиционный брокер, основанный в 2008 году в Соединенном Королевстве, предоставляющий высококачественные сервисные услуги в направлении интернет-трейдинга для клиентов по всему миру.
        |На сегодняшний день компания входит в десятку лучших 
        |инвестиционных брокеров мира, о чем свидетельствуют 
        |более 5 международных наград за достижения в финансовой сфере.
        |“Helion Capital” оказывает онлайн-поддержку в более чем 110 различных странах мира, включая Россию, Казахстан, Украину и другие страны Европы, Латинской Америки и Азии.
      .about__company-img 
        img.about__img(src="./img/aboutCompany.png")