@font-face {
    font-family: "Millo";
    src: url("../../fonts/MilioRegular.woff");
}
@font-face {
    font-family: "Millo";
    src: url("../../fonts/MilioBold.woff");
    font-weight: bold;
}

@font-face {
    font-family: "Helvetica";
    src: url("../../fonts/HelveticaNeueCyr-Roman.ttf");
}